body{
  max-width: 1920px;
  margin: auto;
  font-family: 'Gothic A1', sans-serif;
}
ul{
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 2.5%;
}
li{
  list-style: none;
  margin: 0 2%;
}
a{
  text-decoration: none;
  color: white;
  font-size: 110%;
}
@media screen and (min-width:1599px){
  a{
    font-size: 160%;
  }
}
a:hover{
  color: #00a9ff;
}
p{
  margin: 0;
}
header{
  text-align: center;
  height: 100vh;
  background-image: url(img/background.png);
  background-size: cover;
}
nav{
  height: 10vh;
}
h1{
  margin: 6.7vh;
}
@media screen and (min-width:1599px){
  h1{
    margin: 7.3vh;
    font-size: 45px;
  }
}
h2{
  color: white;
  margin: 0;
}
@media screen and (min-width:1599px){
  h2{
    font-size: 30px;
  }
}
button{
  background: none;
  border: none;
}
.welcome{
  color: white;
  margin-top: 26vh;
}
@media screen and (min-width:1599px){
  .welcome{
    margin-top: 30vh;
  }
}
.p-welcome{
  font-size: 220%;
}
@media screen and (min-width:1599px){
  .p-welcome{
    font-size: 280%;
  }
}
.p-to-my-website{
  font-size: 140%;
  margin-top: 2vh;
}
@media screen and (min-width:1599px){
  .p-to-my-website{
    font-size: 210%;
  }
}
.nikita{
  color: #00a9ff;
}
#about-me{
  color:white;
  height: 80vh;
  background-image: url(img/about-me.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 30% 60%;
  grid-template-rows: 7% 15% 1fr 1fr 7%;
}
.about-heading{
  grid-area: 2 / 2 / 2 / 2;
}
.about-text-first{
  grid-area: 3 / 2 / 3 / 2;
}
@media screen and (min-width:1599px){
  .about-text-first{
    font-size: 22px;
  }
}
.about-text-second{
  grid-area: 4 / 2 / 4 / 2;
}
@media screen and (min-width:1599px){
  .about-text-second{
    font-size: 22px;
  }
}
#my-work{
  height: 100vh;
  background-image: url(img/my-work.png);
  background-size: cover;
  display: grid;
  grid-template-rows: 7% 7% 1fr 14%;
  grid-template-columns: 10% 1fr 10%;
}
.work-heading{
  grid-area: 2 / 2 / 2 / 2;
}
.projects{
  grid-area: 3 / 2 / 3 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-work{
  border: 2px solid white;
  height: 370px;
  width: 250px;
}
@media screen and (min-width:1599px){
  .first-work{
    height: 420px;
    width: 300px;
  }
}
.second-work{
  border: 2px solid white;
  height: 370px;
  width: 250px;
}
@media screen and (min-width:1599px){
  .second-work{
    height: 420px;
    width: 300px;
  }
}
.third-work{
  border: 2px solid white;
  height: 370px;
  width: 250px;
}
@media screen and (min-width:1599px){
  .third-work{
    height: 420px;
    width: 300px;
  }
}
.work-line{
  height: 310px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.under-text{
  width: 150px;
  border: 1px solid white;
}
.l-arr{
  grid-area: 3 / 1 / 3 / 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.r-arr{
  grid-area: 3 / 3 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact{
  background-color:#EAEAEA;
  background-size: cover;
  height: 90vh;
  display: grid;
  /**
  grid-template-rows: 7% 7% 15% 15% 30% 15% 1fr 7%;
  grid-template-columns: 10% 10% 1fr 10%;
}
.contact-heading{
  color: black;
  grid-area: 2 / 2 / 2 / 2;
}
.form-contact{
  grid-area: 3 / 2 / 7 / 4;
  display: grid;
}
.name{
 grid-area: 2 / 3 / 3 / 3;
}**/





